
.contains{
  display: inline-block;
  font-family: "impact";
  justify-content: center;
  align-items: center;
  font-size: 136px;
  color: hsl(0, 0%, 100%);
  -webkit-text-stroke: 3px rgb(0, 255, 0) ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
    overflow: hidden;
    white-space: nowrap;
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
    }
    /*typing effect */
    @keyframes typing {
      from {width:0}
      to {width: 100%}
    }
    
    